*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	font-family: "Orbitron", "Chau Philomene One", "Puritan", "Press Start 2P",
		"Montserrat", "Lora", "Poppins", Helvetica, -apple-system,
		BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body,
.body-container {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
body {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
}

:root {
	--bg-color: #d3d3d3;
	--accent-bg-color: #585862;
	--secondary-bg-color: #485e1c;
	--text-color: #00008b;
	--text-light-color: #d3d3d3;
	--text-secondary-color: #333333;
	--text-color-bg: #313d17;
	--primary-color: #a52a2a;
	--secondary-color: #808080;
	--tertiary-color: #333333;

	--container-width: 95%;
	--font-size-html: 14px;

	--spacing-xs: 4px;
	--spacing-sm: 8px;
	--spacing-md: 12px;
	--spacing-lg: 16px;
	--spacing-xl: 24px;
	--spacing-2xl: 36px;
	--spacing-3xl: 48px;
	--spacing-4xl: 60px;

	--radius: 8px;
	--radius-4xl: 40px;
	--button-padding-xs: 2px 4px;
}

html {
	font-size: var(--font-size-html);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Press Start 2P";
	color: var(--text-secondary-color);
}

p,
a,
span {
	color: var(--text-secondary-color);
}

small {
	font-family: "Puritan";
	font-size: 0.5rem;
	color: var(--text-light-color);
}

h1 {
	font-size: 1.2rem;
}

h2 {
	font-size: 1rem;
}

h3 {
	font-size: 0.9rem;
}

h4 {
	font-size: 0.8rem;
}

h5 {
	font-size: 0.7rem;
}

h6,
p,
a {
	font-size: 0.6rem;
}

.container {
	width: var(--container-width);
	margin: 0 auto;
}

/* -------------ESTILOS WEB--------------- */
.body-container {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: orange;
}

input {
	display: none;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1;

	max-width: 21rem;
	max-height: 35rem;
	background-color: brown;
}

/* ----------ESTILOS PARA EL INTERRUPTOR DE ENCENDIDO---- */
.power-switch-container {
	display: flex;
	width: 100%;
}

.power-label-off-on {
	height: 0.5rem;
	width: 0.5rem;
	position: relative;

	top: 0rem;
	left: 3.5rem;
	margin-top: -0.5rem;
	background-color: blue;
	clip-path: polygon(0 16%, 48% 0, 100% 16%, 100% 100%, 0% 100%);
	transition: left 0.5s ease-in-out;
}

.power-input:checked ~ main .power-label-off-on {
	left: 6.5rem;
}

/* -----ESTILOS PARA LA PARTE SUPERIOR DE LA GAMEBOY ---*/
.power-shell-container {
	display: flex;
	flex-direction: column;

	background-color: var(--bg-color);
	border-top-left-radius: var(--radius);
	border-top-right-radius: var(--radius);
}

.top-power-shell-container {
	display: flex;
	justify-content: space-between;
}

.corner-square-top-shell {
	width: 1.5rem;
}

.vertical-line-top-shell {
	width: 0.2rem;
	box-shadow: inset 0px 0px 2px 0px rgb(108, 107, 107);
}

.square-power-shell-container {
	display: flex;
	align-items: center;
	flex: 1;

	padding: var(--spacing-sm);
}

.text-square-power-shell-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	padding: var(--spacing-xs);
	box-shadow: inset 0px 0px 40px 0px rgb(108, 107, 107);
	border-radius: var(--radius-4xl);
}

.text-square-power-shell-container p {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;

	color: var(--bg-color);
	font-family: "Orbitron";
}

.text-square-power-shell-container .power-off-letter::before {
	content: "<";
}

.text-square-power-shell-container .power-on-letter::after {
	content: ">";
}

.horizontal-line-bottom-shell {
	height: 0.2rem;
	box-shadow: inset 0px 0px 2px 0px rgb(108, 107, 107);
}